/src/*.suo
/src/PST.Data/bin
/src/PST.Data/obj
/src/PST.Business/bin
/src/PST.Business/obj
/src/PST.Domain/bin
/src/PST.Domain/obj
/src/packages
/src/PST.UI/bin
/src/PST.UI/obj
/src/PST.Plugins.WDSDispatcher/obj
/src/PST.Service/obj
/src/PST.Service/bin
/src/PST.UI.Common/bin
/src/PST.UI.Common/obj
/src/PST.UI.Common/*.user
/src/PST.Service/*.user
/src/PST.UI/*.user
