<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FFPService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2764/FFPService.svc" binding="basicHttpBinding"
                bindingConfiguration="FFPService" contract="FFPService.IFFPService"
                name="FFPService" />
        </client>
    </system.serviceModel>
</configuration>