<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FFPService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="WDResponseService" />
                <binding name="FFPSetService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2764/FFPService.svc" binding="basicHttpBinding"
                bindingConfiguration="FFPService" contract="FFPService.IFFPService"
                name="FFPService" />
            <endpoint address="http://localhost:2764/WDResponseService.svc"
                binding="basicHttpBinding" bindingConfiguration="WDResponseService"
                contract="WDResponseService.IWDResponseService" name="WDResponseService" />
            <endpoint address="http://localhost:2764/FFPSetService.svc" binding="basicHttpBinding"
                bindingConfiguration="FFPSetService" contract="FFPSetService.IFFPSetService"
                name="FFPSetService" />
        </client>
    </system.serviceModel>
</configuration>